<header>
  <nav>
      <%= link_to (image_tag"logo"), root_path %>
      <%# link_to image_tag("logo"), root_path %>

    <ul class="left">
      <li>
        <%= link_to "All MOOOOVIES", movies_path %>
      </li>
    </ul>
    <ul class="rignt">
      <li>
        <%= link_to 'Sign In', signin_path, class: "button" %>
      </li>
      <li>
        <%= link_to 'Sign Up', signup_path, class: "button" %>
      </li>
    </ul>     
  </nav>      
</header>